.test-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}
.test-results .card {
  width: 92.5vw;
  max-width: 900px;
}
.test-results > .main-results h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--color-primary);
  text-align: center;
}

.test-results .main-results .card__body{
  align-items: center;
  gap: 15px;
  padding: var(--space-lg);
}
.test-results .badge .score{
  padding: 0 var(--space-lg);
  font-weight: 700;
  font-size: 1.75rem;
}